# Export all names
exportPattern(".")

# define S3 methods
S3method(summary, dagRdag)
S3method(print, dagRdag)
S3method(plot, dagRdag)

# import functions from other packages
importFrom("graphics", "arrows", "identify", "locator", "plot",
           "points", "text")
importFrom("stats", "na.omit", "rbinom", "rnorm")
importFrom("utils", "combn", "installed.packages")
